@model IEnumerable<Ecommerce.DTOs.UserDto>
@{
    ViewData["Title"] = "User Page";
}
<h1>List of Records</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var record in Model)
    {
        <tr>
            <td>@record.FirstName</td>
            <td>@record.LastName</td>
            <td>@record.Email</td>
        </tr>
    }
    </tbody>
</table>