@using  Ecommerce.DTOs
@model BaseResponse<IEnumerable<CustomerDto>>


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      
</div>
</body>
</html>